* {
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  height: 340px;
}

.tab_title_wrap {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.tab_title {
  /*width: 30%;*/
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: #909090;
  display: inline-block;
  flex-grow: 1;
}

.active {
  color: #fff;

  background-color: #cdcdcd;
}

.tab_item_wrap {
  width: 100%;
  height: 300px;
}

.tab_item {
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
  color: #fff;
  display: none;
}

.tab_item:nth-of-type(1) {
  background-color: #cdcdcd;
}

.tab_item:nth-of-type(2) {
  background-color: #cdcdcd;
}

.tab_item:nth-of-type(3) {
  background-color: #cdcdcd;
}

.show {
  display: block;
}
