.sub-course {
    height: 26rem;
    overflow-y: scroll;
}

.main-course-body label {
    margin: 0;
}

.main-course-body .sim-progress {
    margin-bottom: 1rem;
}

.main-course-body .main-course-title, .sub-course-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-course-body .main-course-description {
    overflow: hidden;
}

.sub-course small {
    margin-right: 2rem;
}

.searchPreviewArea {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.5);
}

.previewContainer {
    width: 70%;
    height: 70%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -35%;
    margin-top: -17.5%;
}

.previewBody {
    background: rgba(255, 255, 255, 0.8);
}

.coursePreview, .coursePreview video, .coursePreview img {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.subCoursePreview .infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 27rem;
    background: #ffffff;
}

#pdfView {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top: -22.5%;
    z-index: 1000;
}



